.profilepicture-div{
    display: flex;
    justify-content: center;

    width: 91.89vw;
    /* background-color: red; */
}

.profilepicture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.addIcon{
    width: 20px;
    stroke: #202020;
    
}

input[type="file"]{
    display: none;
}

.labelInput{
    display: inline-block;
    cursor: pointer;
}

.addIcon-div button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.profile-description__text{
    width: 500px;
    font-size: 11px;
    letter-spacing: 0.5px;

    margin: auto;
    text-align: center;
    cursor: pointer;
}

.profile-description__addpost{
    font-size: 15px;
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.profile-description__addpost::before{
    content: '+';
}

.profile-post-container{
    display: grid;
    grid-template-columns: repeat(5,350px);
    /* background-color: red;    */
}

.profile-post__description{
    font-size: 10.5px;
    color: rgba(0, 0, 0, 0.5);
    width: 305px;
}

.heart-icon{
    width: 20px;
    stroke: black;
    margin-right: 5px;
}

.commenticon{
    width: 20px;
    stroke: black;
    margin-right: 5px;
}


.shareicon{
    width: 20px;
    stroke: black;
}

.icons-div{
    margin-bottom: 20px;
}

.addpicture-icon{
    width: 19px;
}

